#prototype{
  border:2px solid green;
  display:inline-block;
  overflow:hidden;
}

#one,
#two {
  display:none;
}

#oneLink,
#one {
  background:blue;
}

#twoLink,
#two {
  background:red;
}

ul {
  padding:0px;
  display:inline-block;
}

li {
  background:gray;
  color:white;
  padding:4px;
  display:inline-block;
  cursor:pointer;
}
li:hover {
  box-shadow:0px 0px 4px 4px yellow;
}
