#prototype{
  border:2px solid green;
  display:inline-block;
  overflow:hidden;
  font-size: 2em;
}

li {
  border:1px solid transparent;
}

li:hover {
  border: 1px solid black;
}

#prototype ul {
  padding:0px;
  display:inline-block;
}

ul#one,
ul#two {
  display:none;
}

#prototype li#oneLink,
#one {
  background:blue;
}

#prototype li#twoLink,
#two {
  background:red;
}


#prototype li {
  background:gray;
  color:white;
  padding:4px;
  display:inline-block;
  cursor:pointer;
}
#prototype li:hover {
  box-shadow:0px 0px 4px 4px yellow;
}
